{extend name="layouts/blank" /} {block name="title"}价格{/block} {block name="link"} {/block} {block name="content"}
<div class="n-banner" style="background: url(__PUBLIC__/images/proudbj.jpg);"></div>

<div class="n-title w1200">
	<div class="n-type">系统价格</div>
	<div class="n-type-en"><span>-</span>SYSTEM PRICE<span>-</span></div>
</div>
<div class="fwjg w1200">
	<table width="100%" cellspacing="0" cellpadding="0" class="fwjg_rep">
		<thead>
			<tr>
				<th colspan="2">
					<p>标准版</p>
					<h2>￥{{view.price.standard}}</h2>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>可控制手机数</td>
				<td>15台</td>
			</tr>
			<tr>
				<td>万控群销软件</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控服务器</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控群销客服系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控分控系统</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>万控微信群挖掘机</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>QQ群采集器软件</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>3500万QQ行业数据</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>网页大数据采集系统<br> （各大网站手机号和邮箱）
				</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>企业名录采集系统<br> （全国定位采集）
				</td>
				<td><span>×</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=324139333&amp;site=qq&amp;menu=yes">点击购买</a></td>
			</tr>
		</tfoot>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" class="fwjg_rep">
		<thead>
			<tr>
				<th colspan="2">
					<p>高配版</p>
					<h2>￥{{view.price.high_with}}</h2>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>可控制手机数</td>
				<td>30台</td>
			</tr>
			<tr>
				<td>万控群销软件</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控服务器</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控群销客服系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控分控系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控微信群挖掘机</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>QQ群采集器软件</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>3500万QQ行业数据</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>网页大数据采集系统<br> （各大网站手机号和邮箱）
				</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>企业名录采集系统<br> （全国定位采集）
				</td>
				<td><span>×</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=324139333&amp;site=qq&amp;menu=yes">点击购买</a></td>
			</tr>
		</tfoot>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" class="fwjg_rep">
		<thead>
			<tr>
				<th colspan="2">
					<p>专业版</p>
					<h2>￥{{view.price.pro}}</h2>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>可控制手机数</td>
				<td>60台</td>
			</tr>
			<tr>
				<td>万控群销软件</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控服务器</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控群销客服系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控分控系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控微信群挖掘机</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>QQ群采集器软件</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>3500万QQ行业数据</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>网页大数据采集系统<br> （各大网站手机号和邮箱）
				</td>
				<td><span>×</span></td>
			</tr>
			<tr>
				<td>企业名录采集系统<br> （全国定位采集）
				</td>
				<td><span>×</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=324139333&amp;site=qq&amp;menu=yes">点击购买</a></td>
			</tr>
		</tfoot>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" class="fwjg_rep no-margin">
		<thead>
			<tr>
				<th colspan="2">
					<p>尊享版</p>
					<h2>￥{{view.price.vip}}</h2>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>可控制手机数</td>
				<td>100台</td>
			</tr>
			<tr>
				<td>万控群销软件</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控服务器</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控群销客服系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控分控系统</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>万控微信群挖掘机</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>QQ群采集器软件</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>3500万QQ行业数据</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>网页大数据采集系统<br> （各大网站手机号和邮箱）
				</td>
				<td><span>√</span></td>
			</tr>
			<tr>
				<td>企业名录采集系统<br> （全国定位采集）
				</td>
				<td><span>√</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=324139333&amp;site=qq&amp;menu=yes">点击购买</a></td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="price01"></div>
<div class="price02"></div>
{/block} {block name="js"}
<script type="text/javascript">
	var vuedemo = new Vue({
		el: "#content1",
		data: {
			view: {},
		},
		ready: function () {
			$.ajax({
				url: "{:url('index/Price/priceDetail')}",
				type: "get",
				success: function (data) {
					data = JSON.parse(data); //将字符串转换成json格式     
					vuedemo.view = data;//将数据赋值到view对象
				},
				error: function (data) {
					console.log("error!");
				}
			})
		}
	})

</script>
{/block}