{extend name="layouts/blank" /} {block name="title"}服务优势{/block} {block name="link"} 
{block name="content"}
<div class="n-banner" style="background: url(__PUBLIC__/images/advantagebj.jpg);"></div>
	
	<div class="service-warp1 w1200">
		<div class="n-title w1200">
			<div class="n-type">十年厚积薄发，微信群控实业为您提供全方位的微信营销解决方案</div>
			<div class="n-type-en"><span>-</span>SERVICES<span>-</span></div>
		</div>
		<div class="strips">
			<div class="strips_strip strips_strip1">
				<div class="strip_content">
					<div class="strip_title">
						<img src="__PUBLIC__/images/20160906143539_882.jpg" alt="" width="270" height="268" />
						<span class="service-product-bg"></span>
						<div class="strip_title_summary">
							<span>万控群销</span>
							<p>最多支持一台电脑控制管理127部手机，电脑画面和手机屏幕实时同步操作</p>
						</div>
					</div>
				</div>
			</div>
			<div class="strips_strip strips_strip2">
				<div class="strip_content">
					<div class="strip_title">
						<img src="__PUBLIC__/images/20160906143710_804.jpg" alt="" width="270" height="268" />
						<span class="service-product-bg"></span>
						<div class="strip_title_summary">
							<span>自动营销</span>
							<p>电脑一键实现多部手机自动加粉、自动扫街自动发朋友圈等常用微营销功能</p>
						</div>
					</div>
					<div class="strip_inner-text clear">
						<div class="left">
							<img src="__PUBLIC__/images/20160906143710_804.jpg" alt="" width="270" height="268" />
							<div class="strip_title_summary">
								<span>API 集成接口</span>
								<p>LD Gaming 与客户紧闭合作，确保系统无缝集成。我们采用应用方案集成接口<br/>（API integration）保障客户资料的私隐和安全。</p>
							</div>
						</div>
						<div class="right">
							<p class="lan-title">全球入驻政策最优惠的娱乐产业园，没有之一。</p>
							<table border="0">
								<tbody>
									<tr>
										<td>
											<p>公司注册费<br />公司注册费为RMB2000</p>
										</td>
										<td rowspan="2" width="100px">&nbsp;</td>
										<td rowspan="2">
											<p>基础设施<br /> 办公：一坪米 RMB 150(添置办公设备可直接办公)<br /> 宿舍：有数种规格房，一坪米RMB25(含物业） <br /> 电费：RMB 1.3/度<br /> 水费：RMB100/22方 <br
												/> 网络：200美金/兆/月 <br /> 设备：本地可订购 OA PC设备<br /> 交通：每周一三五下午一点20有包机(昆明到清莱),从清莱公司接送到特区，1小时 <br /> 货币：东盟使用中国时区，泰铢、人民币接可流通</p>
										</td>
									</tr>
									<tr>
										<td>人员签证<br /> 工签，每人RMB 3000/年</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="strips_strip strips_strip3">
				<div class="strip_content">
					<div class="strip_title">
						<img src="__PUBLIC__/images/20160906144532_677.jpg" alt="" width="270" height="268" />
						<span class="service-product-bg"></span>
						<div class="strip_title_summary">
							<span>集中管理</span>
							<p>将所有手机对话集中到一个窗口，像聊QQ一样在电脑端直接和好友进行实时对话</p>
						</div>
					</div>
					<div class="strip_inner-text clear">
						<div class="left">
							<img src="__PUBLIC__/images/20160906144532_677.jpg" alt="" width="270" height="268" />
							<div class="strip_title_summary">
								<span>产业园办公楼租赁</span>
								<p>实地产业园办公区可入驻，可建厅包厅。配备客户代表，提供人员签证、机票、办公地点、住宿等一站式服务。</p>
							</div>
						</div>
						<div class="right">
							<p class="lan-title">全球入驻政策最优惠的娱乐产业园，没有之一。</p>
							<table border="0">
								<tbody>
									<tr>
										<td>
											<p>公司注册费<br />公司注册费为RMB2000</p>
										</td>
										<td rowspan="2" width="100px">&nbsp;</td>
										<td rowspan="2">
											<p>基础设施<br /> 办公：一坪米 RMB 150(添置办公设备可直接办公)<br /> 宿舍：有数种规格房，一坪米RMB25(含物业） <br /> 电费：RMB 1.3/度<br /> 水费：RMB100/22方 <br
												/> 网络：200美金/兆/月 <br /> 设备：本地可订购 OA PC设备<br /> 交通：每周一三五下午一点20有包机(昆明到清莱),从清莱公司接送到特区，1小时 <br /> 货币：东盟使用中国时区，泰铢、人民币接可流通</p>
										</td>
									</tr>
									<tr>
										<td>人员签证<br /> 工签，每人RMB 3000/年</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="strips_strip strips_strip4">
				<div class="strip_content">
					<div class="strip_title">
						<img src="__PUBLIC__/images/20160906144541_512.jpg" alt="" width="270" height="268" />
						<span class="service-product-bg"></span>
						<div class="strip_title_summary">
							<span>智能模拟</span>
							<p>完全模拟模拟人工操作，避免造成微信封号的风险.让营销更加安全稳定</p>
						</div>
					</div>
					<div class="strip_inner-text clear">
						<div class="left">
							<img src="__PUBLIC__/images/20160906144541_512.jpg" alt="" width="270" height="268" />
							<div class="strip_title_summary">
								<span>牌照授权</span>
								<p>经英国博彩委员会认证资质，可自主颁发博彩牌照，免您一切后顾之忧。</p>
							</div>
						</div>
						<div class="right">
							<p class="lan-title">全球入驻政策最优惠的娱乐产业园，没有之一。</p>
							<table border="0">
								<tbody>
									<tr>
										<td>
											<p>公司注册费<br />公司注册费为RMB2000</p>
										</td>
										<td rowspan="2" width="100px">&nbsp;</td>
										<td rowspan="2">
											<p>基础设施<br /> 办公：一坪米 RMB 150(添置办公设备可直接办公)<br /> 宿舍：有数种规格房，一坪米RMB25(含物业） <br /> 电费：RMB 1.3/度<br /> 水费：RMB100/22方 <br
												/> 网络：200美金/兆/月 <br /> 设备：本地可订购 OA PC设备<br /> 交通：每周一三五下午一点20有包机(昆明到清莱),从清莱公司接送到特区，1小时 <br /> 货币：东盟使用中国时区，泰铢、人民币接可流通</p>
										</td>
									</tr>
									<tr>
										<td>人员签证<br /> 工签，每人RMB 3000/年</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<i class="fa fa-close strip_close"></i>
		</div>
	</div>
	<div class="service-warp2">
		<div class="n-title w1200">
			<div class="n-type">为什么选择万控群销</div>
			<div class="n-type-en"><span>-</span>advantage<span>-</span></div>
		</div>
		<div class="w1200 service-warp2-content clear">
			<div style="width: 105%">

			</div>
			<div class="clear content1 ani-view fade-in-left">
				<img src="__PUBLIC__/images/8600.png">
				<p>
					<span>万注册资金</span> 2003年成立杭州总部，实力雄厚
				</p>
			</div>
			<div class="clear content2 ani-view fade-in-down">
				<img src="__PUBLIC__/images/1.png">
				<p>
					<span>唯一技术核心来自BAT</span> 汇阿里、腾讯、百度等高精尖技术人才
				</p>
			</div>
			<div class="clear content3 ani-view fade-in-right">
				<img src="__PUBLIC__/images/20000.png">
				<p>
					<span>个行业资源支持</span> 让你的运营中心无个后顾之忧
				</p>
			</div>
		</div>
	</div>
	<div class="service-warp3 clear">
		<div class="left clear">
			<img src="__PUBLIC__/images/7.jpg" id="img1">
		</div>
		<div class="right">
			<img src="__PUBLIC__/images/5.jpg" id="img3">
		</div>
	</div>
	<div class="service-warp4">
		<div class="service-content clear">
			<p class="title">万控群销 实力群控软件供应商</p>
			<table width="1075px">
				<tr>
					<td width="467px">
						<p style="width:467px;"><a style="display:block;">我们致力于打造移动互联网科技类集软件、硬件为一体的互联网新兴技术型公司，万控群销适用行业如：金融、房产、医疗、保险、教育、美容、实体制造业、微商家等，让商家们不再为客源少而烦恼，不再为人力成本市场推广成为负担！<br>
我们产品核心：就是用一台电脑控制数百部手机微信，实现集中化，自动化，智能化，标准化。</a>
						</p>
					</td>
					<td width="127px"></td>
					<td width="474px">
						<p><a>万控群销是通过Android自动化控制集成系统，把多个手机操作界面直接映射到电脑显示器上，用一台电脑服务器来控制N部手机微信，批量发朋友圈，小视频，批量聊天，批量导入通讯录，批量自动化加好友、大大降低了人力成本，提供工作效率，业务辐射面更广！</a>
						</p>
					</td>
				</tr>
			</table>
			<a href="" class="service-more">
				成为客户
				<span class="service-more-bg"></span>
				</a>
		</div>
	</div>
{/block} 



