{extend name="pub/extend" /}

{block name="title"}
    <title>用户管理 - 用户列表</title>
{/block}

{block name="link"}
    <!--dynamic table-->
    <link href="__PUBLIC__/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="__PUBLIC__/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/js/data-tables/DT_bootstrap.css" />
{/block}

{block name="bread"}
    <ul class="breadcrumb">
        <li>
            <a href="#">首页</a>
        </li>
        <li class="active">后台用户列表</li>
    </ul>
{/block}

{block name="content"}
    <div class="wrapper">
    <div class="row">
    <div class="col-sm-12">
    <section class="panel">
    <header class="panel-heading">
        后台用户列表
        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            <a href="javascript:;" class="fa fa-times"></a>
         </span>
    </header>
    <div class="panel-body">
    <div class="adv-table">
    <table  class="display table table-bordered table-striped" id="dynamic-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>登录ip</th>
        <th>登录时间</th>
        <th>角色</th>
        <th>用户状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        {volist name="res" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.userid}</td>
                <td>{$vo.email}</td>
                <td>{$vo.loginip}</td>
                <td>{$vo.logintime|date="Y-m-d H:i",###}</td>
                <td>
                    {$ro[$ar[$vo.id]]}
                </td>
                <td style="text-align:center;">
                    {if condition="$vo['status'] eq 1"}
                        <span id="stu-{$vo.id}" class="label label-success">已启用</span>
                    {elseif condition="$vo['status'] eq 2" /}
                        <span id="stu-{$vo.id}" class="label label-danger">已停用</span>
                    {/if}
                </td>
                <td style="text-align:center;">
                    {if condition="$vo['status'] eq 1"}
                        <button id="btn-{$vo.id}" onclick="m_stop({$vo.id},this)" class="btn btn-xs btn-warning" type="button"><i class="fa fa-unlock-alt"></i>&nbsp;停用</button>
                    {elseif condition="$vo['status'] eq 2" /}
                        <button id="btn-{$vo.id}" onclick="m_stop({$vo.id},this)" class="btn btn-xs btn-primary" type="button"><i class="fa fa-unlock"></i>启用</button>
                    {/if}
                    <a href="{:url('User/edit',array('id'=>$vo['id']))}"><button class="btn btn-xs btn-info" type="button"><i class="fa fa-pencil"></i>&nbsp;编辑</button></a>
                    <button class="btn btn-xs btn-danger" type="button" onclick="m_del({$vo.id},this)" ><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                </td>
            </tr>
        {/volist}
    </tbody>

    </table>
    </div>
    </div>
    </section>
    </div>
    </div>
    </div>


{/block}

{block name="js"}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="__PUBLIC__/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/data-tables/DT_bootstrap.js"></script>
    <!--dynamic table initialization -->
    <script src="__PUBLIC__/js/dynamic_table_init.js"></script>

    <script type="text/javascript">
        function m_stop(id,obj){
            $.ajax({
                type:'post',
                url:"{:url('User/stop')}",
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if (data.txt == '已启用') {
                        $('#stu-'+id).text(data.txt).removeClass('label-danger').addClass('label-success');
                        $('#btn-'+id).html("<i class='fa fa-unlock-alt'></i>&nbsp;停用").removeClass('btn-primary').addClass('btn-warning');
                    } 
                    if(data.txt == '已停用') {
                        $('#stu-'+id).text(data.txt).removeClass('label-success').addClass('label-danger');
                        $('#btn-'+id).html("<i class='fa fa-unlock'></i>&nbsp;启用").removeClass('btn-warning').addClass('btn-primary');
                    }
                }
            })
        }

        function m_del(id,obj){
            $.ajax({
                type:'post',
                url:"{:url('User/del')}",
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if (data.txt == 'success') {
                        $(obj).parent().parent().remove();
                    }else{
                        alert('网络原因,删除失败!');
                    }
                }
            })
        }
    </script>
{/block}