{extend name="pub/extend" /}

{block name="title"}
    <title>用户管理 - 修改密码</title>
{/block}

{block name="link"}
    <!--dynamic table-->
    <link href="__PUBLIC__/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="__PUBLIC__/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/js/data-tables/DT_bootstrap.css" />
{/block}

{block name="bread"}
    <ul class="breadcrumb">
        <li>
            <a href="{:url('Index/index')}">首页</a>
        </li>
        <li class="active">修改密码</li>
    </ul>
{/block}

{block name="content"}
    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        修改密码
                    </header>
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="commentForm" method="post" action="{:url('User/modify')}">
                                <div class="form-group ">
                                    <label for="old" class="control-label col-lg-2">旧密码</label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" id="old" name="old" type="password" required />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-2">新密码</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="password" type="password" name="password" required />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2">重复新密码</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="password" name="pwd" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">添加</button>
                                        <button class="btn btn-default" type="reset">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>


{/block}

{block name="js"}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="__PUBLIC__/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/data-tables/DT_bootstrap.js"></script>

{/block}